#disp{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(32, 39, 2, 0.9)), url('./images/bg.jpg');
  height: 400px;
  width:100%;
  background-position: center;
  background-size: cover;
}

.butn{
  padding: 10px 20px !important;
  background-color: #f8e00b !important;
  font-weight: bold;
  box-shadow: 3px 3px 3px #999;
}

